- content_for :title, "Edit #{resource_name.to_s.humanize}"
- content_for :box, render(partial: 'users/help')

%h1= content_for :title

= form_for(resource, as: resource_name,
    url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!

  %p
    %b= f.label :email
    %br/
    = f.text_field :email

  %p
    %b= f.label :current_password
    %i (We need your current password to confirm your changes!)
    %br/
    = f.password_field :current_password

  %h2 Password

  %p
    %b= f.label :password
    %i (Leave blank if you don't want to change it.)
    %br/
    = f.password_field :password

  %p
    %b= f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation

  %h2 Profile

  %p All profile fields are optional; all profile data is public. If you provide a username, your profile will be listed in the directory - we very much recommend this!

  %p
    %b= f.label :username
    %i (No spaces. This is the name people will see on your posts.)
    %br/
    = f.text_field :username

  %p
    %b= f.label :name
    %br/
    = f.text_field :name

  %p
    %b= f.label :location
    %br/
    = f.text_field :location

  %h2 Content

  %p Your profile content is what people will find when they visit your page. This can be anything you want, in #{link_to "Markdown", "http://daringfireball.net/projects/markdown/"} format.

  %p= f.text_area :content, cols: 76, rows: 20

  %p= f.submit 'Update'

%h2 Other options

%ul
  %li= link_to "Delete account", registration_path(resource_name), method: :delete,
    confirm: "Are you sure you wish to delete your account? This action is permanent."
