#news
  - unless @user.username.blank?
    %p
      %b Username:
      = @user.username

  - unless @user.name.blank?
    %p
      %b Name:
      = @user.name

  - unless @user.city.blank?
    %p
      %b City:
      = @user.city

  - unless @user.country.blank?
    %p
      %b Country:
      = @user.country

- if @user.content.blank?
  %h1 Profile

  This user has not yet created any content.

- else
  :textile
    #{@user.content}
