- content_for :title, @user.to_param

#news
  - unless @user.username.blank?
    %p
      %b Username:
      = @user.username

  - unless @user.name.blank?
    %p
      %b Name:
      = @user.name

  - unless @user.city.blank?
    %p
      %b City:
      = @user.city

  - unless @user.country.blank?
    %p
      %b Country:
      = @user.country

  - unless @user.posts.empty?
    %p
      = link_to 'Posts', user_posts_path(@user)
      (#{@user.posts.count} total)

- if @user.content.blank?
  %h1 Profile

  This user has not yet created any content.

- else
  :textile
    #{@user.content}
