- content_for :title, @user.blank? ? "Posts" : "Posts by #{@user.to_param}"
- content_for :box, render(partial: @user ? 'users/info' : 'welcome/box')

%h1= content_for :title

- if user_signed_in?
  %p= link_to 'New post', new_post_path
- else
  %p
    = link_to 'Log in', new_user_session_path
    or
    = link_to 'create an account', new_user_registration_path
    to create a new post.

- if @posts.empty?
  No posts to display.

%ul
  - @posts.each do |post|
    = render partial: 'item', locals: { post: post }

%p= will_paginate @posts
