- content_for :title, @post.subject
- content_for :box do
  %p
    %b Subject:
    = @post.subject

  %p
    %b From:
    = link_to @post.user.to_param, user_path(@post.user)

  - unless @post.in_reply_to_post.nil?
    %p
      %b In reply to:
      = link_to @post.in_reply_to_post.subject,
        user_post_path(@post.in_reply_to_post.user, @post.in_reply_to_post)
      from
      = link_to @post.in_reply_to_post.user.to_param,
        user_path(@post.in_reply_to_post.user)

  %p Created #{time_ago_in_words(@post.created_at)} ago

  - if user_signed_in? and current_user.id == @post.user.id
    %p
      = link_to 'Edit post', edit_user_post_path(@post.user, @post)
      &dash;
      = link_to 'Delete post', user_post_path(@post.user, @post),
        method: :delete, confirm: "Are you sure you wish to delete this post?"

  - unless @post.replies.empty?
    %p
      %b Replies:
      %ul
        - @post.replies.each do |reply|
          %li
            = link_to reply.subject, user_post_path(reply.user, reply)
            from
            = link_to reply.user.to_param, user_path(reply.user)

  - if user_signed_in?
    %p= link_to 'New reply', new_post_path(in_reply_to_post_id: @post.id)
  - else
    %p
      = link_to 'Log in', new_user_session_path
      or
      = link_to 'create an account', new_user_registration_path
      to reply to this post.

:markdown
  #{@post.body}
