!!! 5
/[if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/[if IE 7]    <html class="no-js ie7 oldie" lang="en">
/[if IE 8]    <html class="no-js ie8 oldie" lang="en">
/[if gt IE 8] <!--> <html class="no-js" lang="en"> <!--
%head
  %meta{:charset => 'utf-8'}/
  - if content_for?(:title)
    %title= "#{content_for(:title)} - #{t(:cloudscontrolus)}"
  - else
    %title= t(:cloudscontrolus)
  %meta{:name => 'author', :content => t(:author)}/
  %meta{:name => 'description', :content => t(:description)}/
  %meta{:name => 'keywords', :content => t(:keywords)}/
  %link{:rel => 'publisher', :href => 'https://plus.google.com/116539406992140259305'}/
  = favicon_link_tag 'favicon.ico'
  = favicon_link_tag 'apple-touch-icon-114x114.png', :rel => 'apple-touch-icon', :type => 'image/png'
  = favicon_link_tag 'apple-touch-icon-114x114.png', :rel => 'icon', :sizes => '114x114', :type => 'image/png'
  = favicon_link_tag 'apple-touch-icon-72x72.png', :rel => 'icon', :sizes => '72x72', :type => 'image/png'
  = favicon_link_tag 'apple-touch-icon-57x57.png', :rel => 'icon', :sizes => '57x57', :type => 'image/png'
  = stylesheet_link_tag 'application', :media => 'all'
  = javascript_include_tag 'modernizr'
  = csrf_meta_tag

%body
  #container
    %header= t(:cloudscontrolus)

    %nav
      %ul
        %li= link_to t(:home), root_path
        %li= link_to Post.model_name.human.pluralize, posts_path
        %li= link_to User.model_name.human.pluralize, users_path

      %p
        - if user_signed_in?
          - unless current_user.username.blank?
            = link_to current_user.to_param, user_path(current_user)
          - else
            = current_user.email
          \|
          = link_to t(:profile), edit_user_registration_path
          \|
          = link_to t(:sign_out), destroy_user_session_path, :method => :delete
        - else
          = link_to t(:register), new_user_registration_path
          \|
          = link_to t(:sign_in), new_user_session_path

    - flash.each do |name, msg|
      - if msg.is_a?(String)
        = content_tag :div, msg, :class => 'flash', :id => "flash_#{name}"

    #content
      - unless content_for(:box).empty?
        %aside= content_for :box

      = yield

    %footer
      %p
        © 2010-2011
        = link_to(t(:keeganquinn), 'http://keegan.ws/')
        &
        = link_to(t(:joshsteinke), 'http://ircreator.com/')

  = javascript_include_tag 'application', :defer => true
  %script
    window._gaq = [['_setAccount','UA-19148581-1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'});

</html>
